<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2><center>Please choose a photo and a function:</center></h2>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2><img src="https://storage.googleapis.com/seetree-demo-open/IMG_1.jpg" alt="centered image" width="250" height="250" /></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_1.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">mean</a>
  <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">percentile</a></center> .</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2><center><img src="https://storage.googleapis.com/seetree-demo-open/IMG_2.jpg" alt="centered image" width="250" height="250" /></center></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_1.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">mean</a>
  <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">percentile</a></center> </p>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2><img src="https://storage.googleapis.com/seetree-demo-open/IMG_3.jpg" alt="centered image" width="250" height="250" /></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_1.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">mean</a>
  <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">percentile</a></center> </p>
  </div>
    <div class="column" style="background-color:#ccc;">
    <h2><img src="https://storage.googleapis.com/seetree-demo-open/IMG_4.jpg" alt="centered image" width="250" height="250" /></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_1.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">mean</a>
    <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">percentile</a></center> </p>
  </div>
    <div class="column" style="background-color:#ccc;">
    <h2><img src="https://storage.googleapis.com/seetree-demo-open/IMG_5.jpg" alt="centered image" width="250" height="250" /></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_1.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">mean</a>
     <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">percentile</a></center> </p>

  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2><img src="https://storage.googleapis.com/seetree-demo-open/IMG_6.jpg" alt="centered image" width="250" height="250" /></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_1.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">mean</a>
  <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">percentile</a></center> .</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2><center><img src="https://storage.googleapis.com/seetree-demo-open/IMG_7.jpg" alt="centered image" width="250" height="250" /></center></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_1.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">mean</a>
  <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">percentile</a></center> </p>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2><img src="https://storage.googleapis.com/seetree-demo-open/IMG_8.jpg" alt="centered image" width="250" height="250" /></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_1.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">mean</a>
  <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">percentile</a></center> </p>
  </div>
    <div class="column" style="background-color:#ccc;">
    <h2><img src="https://storage.googleapis.com/seetree-demo-open/IMG_9.jpg" alt="centered image" width="250" height="250" /></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_1.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">mean</a>
    <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">percentile</a></center> </p>
  </div>
    <div class="column" style="background-color:#ccc;">
    <h2><img src="https://storage.googleapis.com/seetree-demo-open/IMG_10.jpg" alt="centered image" width="250" height="250" /></h2>
    <p><center><a href="http://127.0.0.1:5000/stats/IMG_1.jpg/min"
                class="btn btn-primary">min</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/max"
                class="btn btn-primary">max</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/median"
                class="btn btn-primary">median</a>
                <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">mean</a>
     <a href="http://127.0.0.1:5000/stats/IMG_1.jpg/mean"
                class="btn btn-primary">percentile</a></center> </p>

  </div>
</div>

</body>
</html>









