<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{IMG_NAME}}</title>
</head>
<body>
<center>
<div class="container h-100">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12 col-xs-12 pt-5">
                <div class="card border-0 p-3 shadow-sm text-center">
                    <h3 class="text-muted">{{IMG_NAME }} : The {{text}} {{value}}</h3>

                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <p class="aligncenter">
            <img src="https://storage.googleapis.com/seetree-demo-open/{{IMG_NAME}}" alt="centered image" width="500" height="450" />
        </p>
        <li><a href="http://127.0.0.1:5000">Home</a></li>
</center>
</body>
</html>